.parent{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.Mergeclass{
  border: 2px solid black;
  height: 200px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.id1{
  background-color: black;
  color: white;
  height: 50px;
  width: 100px;
  border-radius: 5px;
}