*{
  margin: 0px;
  color: white;
}

/* Parent container takes full screen */
.app {
  min-height: 100vh;          /* full viewport height */
  display: flex;               /* flex layout */
  flex-direction: column;      /* stack vertically */
  background-color: black;
}

/* Main content grows to fill remaining space */
.content {
  flex: 1;                     /* takes remaining space */
  padding: 20px;               /* optional padding */
  display: flex;
  align-items: center;
  justify-content: center;
}

.NavParent{
  background-color: gray;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.NavChild{
  font-size: 5px;
  display: flex;
  gap: 30px;
  margin-right: 30px;
  font-size: larger;
}
.Footer{
  height: 30px;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  color: black;
}
.ProductsLink{
  display: flex;
  justify-content: space-between;
}