*{
    margin: 0%;
    padding: 0%;

}
.parent{
    min-height: 100vh;
    width: 100%;
    background-color: pink;
    display: flex;
    flex-wrap: wrap;
    
}
.container{
    background-color: white;
    border: 2px solid rgb(235, 229, 229);;
    border-radius: 20px;
    width: 280px;
    height: 350px;
    margin-top: 40px;
    margin-left: 40px;
}
img{
    height: 40px;
    width: 40px;
    padding: 5px;
    border: 2px solid rgb(235, 229, 229);
    border-radius: 50%;
}
i{
    font-size: 10px;
}
.cls2,#id1{
    background-color: rgb(248, 247, 246);
    border: 0.5px solid black;
    border-radius: 5px;
    height: 16px;
    padding: 5px;
    font-size: 15px;
}
.top{
    display: flex;
    padding: 20px;
    justify-content:space-between;
}
.middle{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    margin-bottom: 70px;
    padding-left: 20px;
    height: 100px;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
    border-top: 1px solid black;
}

#spn{
        font-size: 13px;
}
#ui{
    font-size: 20px;
}
.part{
    display: flex;
    justify-content: space-between;
    width: 170px;
    padding: 10px;
}

button{
    background-color: black;
    border: 0.5px solid black;
    border-radius: 5px;
    height: 30px;
    padding: 5px;
    font-size: 15px;
    color: white;
}